<%= content_for :tusur_cdn_header_subtop do %>
  <%= render partial: 'application/subtop_navigation' %>
<% end %>

<% content_for :tusur_cdn_header_menu do %>
  <div class='container'>
    <div class='row'>
      <div class='col-xs-12'>
        <span class='tusur-cdn-header-menu-toggler visible-xs'>&#9776;</span>
        <ul class='nav nav-pills col-sm-12'>
          <%= render_navigation renderer: :mobile_menu_renderer, level: 1 %>
        </ul>
      </div>
    </div>
  </div>
<% end %>

<%= render partial: 'tusur_header/tusur_header' %>
