<div class='container-fluid main-navigation js-main-navigation hidden-xs'>
  <div class='container'>
    <ul class='nav nav-pills col-sm-12'>
      <%= render_navigation :renderer => :mobile_menu_renderer, :level => 1 %>
    </ul>
  </div>
</div>
