.spa
  padding-bottom: 20px

  #validation styles
  =custom_transition
    transition: 0.5s
  =invalid_input
    border: 1px solid red
    +custom_transition

  =invalid_form
    border: 1px dashed red
    +custom_transition

  h3
    clear: both

  label
    abbr
      &.required
        color: red

  .angucomplete-dropdown
    padding-left: 10px
    border: 1px solid #ccc
    border-top: 0

    .angucomplete-row
      margin-left: -10px
      padding: 3px 0 3px 10px

      &:hover
        cursor: pointer
        background: #f2f2f2

    .angucomplete-searching
      &:first-child
        color: green

      &:last-child
        color: red

  input, select
    &.ng-invalid.ng-dirty
      +invalid_input

  form
    &.ng-invalid.ng-submitted

  .glyphicon
    +custom_transition
    font-size: 1.8rem
    margin: 0 3px
    +opacity(0.9)

    &:hover
      cursor: pointer
      +opacity(1.0)

    &.glyphicon-remove
      color: red

    &.glyphicon-plus
      color: green

    &.glyphicon-sort
      cursor: move
      margin: 0 5px

  .no-hover-text-decoration
    &:hover
      text-decoration: none

  .permissions
    .filters
      margin: 10px 0

    table
      tbody
        .add-roles
          .role
            padding-left: 0

          .name
            .highlight
              color: red

        tr
          td.actions
            padding-left: 0

  .invalid-message
    color: red
    font-size: 1.4rem

    label
      margin-top: 10px

  .directory-results
    .person
      padding: 10px

      &:hover
        background: #f2f2f2
        cursor: pointer

  .btn-danger
    &.file-uploader-btn
      margin: 5px 0

  .people-list-table,
  .specialities-items
    width: 50%
    margin-bottom: 20px

    td
      padding: 10px 0

      &.info
        width: 80%
        padding: 5px

      &.actions
        width: 115px

        .handle
          margin-top: 5px

        .btn-danger
          float: right
          margin-right: 5px

  .people-list-table
    clear: both

    .review-uploader
      padding: 10px 0 10px 5px
      border-bottom: 1px solid #ccc

    .ui-sortable-helper
      background: #fff
      +box-shadow(0px 0px 18px -5px rgba(0,0,0,0.75))

      .info
        width: 80%

  .specialities-items
    margin-top: 10px

  .speciality-form
    label
      margin-top: 10px

  .add-person-form
    label
      margin-top: 5px

    .add-person-form-actions
      margin-top: 5px

  .advert-add-person-form
    margin-top: 10px
    margin-bottom: 10px

    .people-list
      margin-top: 15px

      .opponent-review
        margin: 10px 0

      .actions
        vertical-align: top

      .actions,
      .info
        border-bottom: 1px solid #ccc
