.spa
  padding-bottom: 20px

  #validation styles
  =custom_transition
    transition: 0.5s
  =invalid_input
    border: 1px solid red
    +custom_transition

  =invalid_form
    border: 1px dashed red
    +custom_transition

  .breadcrumbs
    margin-top: 5px
    margin-left: 5px

    li
      margin-left: -10px

    .glyphicon
      font-size: 12px

  h3
    clear: both

  h1, h2, h3, h4, h5
    &.inline-header
      display: inline-block
      margin-right: 20px

  // Size of Text classes
  .font-size-14
    font-size: 14px

  // Margin classes
  .margin-top-10
    margin-top: 10px

  .margin-bottom-10
    margin-bottom: 10px

  .devider
    border-top: 1px solid #eee
    margin-top: 15px
    width: 100%

    &.no-line
      border-top: 0

  .link-emulator
    color: #0066cc
    font-size: 18px

    &:hover
      text-decoration: underline
      cursor: pointer

  label
    abbr
      &.required
        color: red

  legend
    margin-top: 15px

  .angucomplete-dropdown
    padding-left: 10px
    border: 1px solid #ccc
    border-top: 0

    .angucomplete-row
      margin-left: -10px
      padding: 3px 0 3px 10px

      &:hover
        cursor: pointer
        background: #f2f2f2

    .angucomplete-searching
      &:first-child
        color: green

      &:last-child
        color: red

  input, select
    &.ng-invalid.ng-dirty
      +invalid_input

  form
    &.ng-invalid.ng-submitted

  .glyphicon
    +custom_transition
    font-size: 1.8rem
    margin: 0 3px
    +opacity(0.9)

    &:hover
      cursor: pointer
      +opacity(1.0)

    &.glyphicon-remove
      color: red

    &.glyphicon-plus
      color: green

    &.glyphicon-sort
      cursor: move
      margin: 0 5px

  .no-hover-text-decoration
    &:hover
      text-decoration: none

  .permissions
    .filters
      margin: 10px 0

    table
      tbody
        .add-roles
          .role
            padding-left: 0

          .name
            .highlight
              color: red

        tr
          td.actions
            padding-left: 0

  .invalid-message
    color: red
    padding-left: 1px
    font-size: 1.4rem

    label
      margin-top: 10px

  .btn-danger
    &.file-uploader-btn
      margin: 5px 0

  // Adverts
  .edit-advert-form
    .devider
      margin-top: 0

  // Responsive Adverts list in manage
  .adverts
    =adverts-titles
      $text-color: #808080

      .council-number
        &:before
          content: 'Диссертационный совет: '
          color: $text-color

      .applicant-fullname
        &:before
          content: 'Соискатель: '
          color: $text-color

      .applicant-science-degree
        &:before
          content: 'Д/К: '
          color: $text-color

      .advert-title
        &:before
          content: 'Тема диссертации: '
          color: $text-color

      .advert-speciality-code
        &:before
          content: 'Специальность диссертации: '
          color: $text-color

      .advert-placement-date
        &:before
          content: 'Дата размещения: '
          color: $text-color

      .advert-publication-date
        &:before
          content: 'Дата защиты: '
          color: $text-color

      thead
        display: none

    &.list
      @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max)
        +adverts-titles

      @media (max-width: $screen-xs-max)
        +adverts-titles
        tbody
          td
            &:first-child
              margin-top: 10px

            &:last-child
              margin-bottom: 10px

        .opponents
          margin-top: 10px

  // People list
  .people-list-table,
  .specialities-items
    clear: both
    border: 1px solid #e7e7e7

    .header
      .header-cell
        &:last-child
          padding: 3px

        &.empty-cell
          height: 35px

    .alfavit-sort
      background: asset_url('spa/alfavit-sort.png')
      background-repeat: no-repeat
      background-color: #005ca9
      background-position: 6px
      width: 25px
      height: 29px
      display: block
      +border-radius(5px)
      float: right

      &:hover
        cursor: pointer

    .review-uploader
      padding: 10px 0 10px 5px
      border-bottom: 1px solid #ccc

    .person-block
      margin-left: 0
      margin-right: 0

      .orange-line
        border-bottom: 2px solid #f18d4f

        &:hover
          cursor: pointer

      .person-name,
      .work-place,
      .speciality-code
        font-size: 18px

  .people-list-table,
  .specialities-items
    .actions
      .sort-icon
        background: asset_url('spa/sort-icon.png')
        background-repeat: no-repeat
        width: 30px
        height: 15px
        display: inline-block
        margin: 0 3px

        &:hover
          cursor: move

    .person-name
      position: relative
      white-space: nowrap

      @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max)
        white-space: normal

      .edit-icon
        background: asset_url('spa/edit-icon.png')
        background-repeat: no-repeat
        width: 20px
        height: 20px
        display: inline-block
        margin-bottom: -5px

        &:hover
          cursor: pointer

  .people-list-table
    .opponents,
    .reviewers
      &:last-child
        padding-bottom: 10px

    @media (max-width: $screen-xs-max)
      .content-cell
        border-bottom: 1px solid #e7e7e7

        &.actions
          padding: 5px
          background: #e7e7e7

  .specialities-items
    .content-row
      margin-left: 0
      margin-right: 0

      @media (max-width: $screen-xs-max)
        .actions
          .sort-icon
            margin-bottom: 20px

  .ui-sortable-helper
    background: #fff
    +box-shadow(0px 0px 18px -5px rgba(0,0,0,0.75))

  .speciality-form
    label,
    .actions
      margin-top: 10px

  .speciality-selector-cancel-btn
    padding: 0

  //Form for add and edit person

  .add-person-form,
  .edit-person-form
    &.new-person,
    &.edit-person
      padding: 20px
      background: #eaf2ff

      .group
        input,
        select
          background: #eaf2ff
          +border-radius(0)

      .search-person-block
        .search-person-block-motivation
          display: none

        li
          &:first-child
            .search-person-block-motivation
              display: block
              background: asset_url('spa/search-person-block-motivation.png')
              background-repeat: no-repeat
              background-position: 5px 1px
              padding-left: 30px

        .search-person-block-result
          background: #d3e7ff
          padding: 15px
          margin: 10px 0 10px 5px

          &:hover
            cursor: pointer
            // +box-shadow(0px 0px 5px -2px rgba(0,0,0,0.75))
            background: #d8e6ff

    .add-person-form-actions
      margin-top: 5px

  .edit-person-form
    .btn-save
      margin-left: 15px

  // Councils list
  .council-number,
  .cluncil-clerk
    font-size: 16px

  // Angucomplete-people
  .user-angucomplete,
  .speciality-angucomplete
    .angucomplete-dropdown
      .angucomplete-row
        padding: 5px 0 3px 10px

        &:last-child
          &:before
            content: " "
            display: block
            width: 98%
            height: 1px
            background: #ccc

          &:hover
            background: #fff
            cursor: default

          .angucomplete-title
            background: #005caf
            color: #fff
            margin: 10px 0px
            width: 230px
            padding: 8px 20px
            +border-radius(5px)

            &:hover
              cursor: pointer

// Highlights aggregator
@keyframes order-success
  0%
    background: #33cc33

  100%
    background: #fff

@keyframes success-fade
  0%
    color: #fff
    opacity: 100
    background: #33cc33

  100%
    color: #000
    background: #fff

@keyframes error-fade
  0%
    color: #fff
    opacity: 100
    background: red

  100%
    color: #000
    background: #fff

.success-highlight
  +animation(success-fade 0.8s ease-in 1)

.error-highlight
  +animation(success-fade 0.8s ease-in 1)

.order-success
  +animation(order-success 1.2s ease-in 1)

// Preloader
.preloader
  background: asset_url('spa/smart-preloader.gif')
  background-size: 25px
  background-repeat: no-repeat
  padding-left: 30px
  height: 30px
  color: #3a6dc6

.success-state
  .glyphicon
    &.glyphicon-ok
      color: green
      font-size: 16px

      .text
        margin-left: 5px
        font-family: 'PTsans'

.no-search-result
  .glyphicon
    &.glyphicon-list-alt
      color: red
      font-size: 16px

      .text
        margin-left: 5px
        font-family: 'PTsans'

// Upload files block
.file-uploads
  .file-block
    background: #eaf2ff
    margin-left: 15px
    padding-left: 15px
    padding-top: 15px
    width: 97.6%
    border-bottom: 1px solid #c5e0fe

    &:last-child
      border-bottom: 0

    &.bottom-border-line
      border-bottom: 1px solid #c5e0fe

    .file-name,
    .file-date
      margin-left: -15px

    .file-date
      margin-top: 30px

      &.group
        input
          &.ng-not-empty
            ~ label
              top: -25px
              left: -5px
