.font-size-14
  font-size: 14px

.font-size-12
  font-size: 12px

ul
  &.default
    li
      padding-left: 15px

.gray-text
  color: #818181

.devider
  background: #dadada
  height: 1px
  width: 100%
  margin: 10px 0

.adverts
  .content-cell
    margin-top: 3px
    margin-bottom: 3px

  .adverts-table
    th
      width: 25%

      &.fio
        width: 15%

      &.dk
        width: 5%

      &.theme
        width: 25%

      &.speciality,
      &.publication-date,
      &.protection-date
        width: 20%
