<div ng-app='dashboard' ng-controller='MainController' class='spa'>
  <ul class='breadcrumbs list-inline'>
    <li ng-show=' $state.current.name != "dashboard" '>
      <a href="#dashboards"> {{ l('app.dashboard') }} </a>
      <span class='glyphicon glyphicon-arrow-right'/>
    </li>
    <li>
      {{ l("app." + $state.current.name) }}
    </li>
  </ul>
  <ui-view/>
</div>
