<ng-include src="'load_status.html'"></ng-include>
<div class='adverts-wrapper' ng-show='!loadStatus'>
<h3>
  {{ l("app.adverts") }}
</h3>
<div class='row margin-bottom-10'>
  <div class='col-lg-6 filters'>
    <input type='text' placeholder='Поиск по диссертационному совету'
           ng-model='searchText'
           class='form-control form-control-small'
           >
  </div>
  <div class='col-lg-6 material-design-form text-right'>
    <button ng-click="addAdvert()" class='btn btn-add'>
      {{ l('app.buttons.add_advert') }}
    </button>
  </div>
</div>
<table class='adverts without-border'>
  <thead class='font-size-14'>
    <th class='text-left bottom-border reset-top-border'>{{ l('advert.dissertation_council') }}</th>
    <th class='text-left bottom-border reset-top-border'>{{ l('advert.applicant') }}</th>
    <th class='text-left bottom-border reset-top-border'>{{ l('advert.dk') }}</th>
    <th class='text-left bottom-border reset-top-border'>{{ l('advert.title') }}</th>
    <th class='text-left bottom-border reset-top-border'>{{ l('advert.speciality') }}</th>
    <th class='text-left bottom-border reset-top-border'>{{ l('advert.placement_date') }}</th>
    <th class='text-left bottom-border reset-top-border'>{{ l('advert.protection_date') }}</th>
  </thead>

  <tbody>
    <tr ng-repeat='advert in adverts | filter: searchText '>
      <td>
        <a ui-sref="council_edit({councilId: advert.dissertation_council.id})">
          {{ advert.dissertation_council.number }}
        </a>
      </td>
      <td><a ui-sref="advert_edit({advertId: advert.id})">{{ advert.applicant.fullname }}</a></td>
      <td>{{ advert.applicant.science_degree }}</td>
      <td>{{ advert.title }}</td>
      <td>{{ advert.council_speciality.code }}</td>
      <td>{{ advert.placement_date }}</td>
      <td>{{ advert.publication_date }}</td>
    </tr>
  </tbody>
</table>
</div>
