<h3>
  {{ l("app.adverts") }}
</h3>
<table class='table'>
  <thead>
    <th>
      {{ l('advert.applicant') }}
    </th>
    <th>
      {{ l('advert.title') }}
    </th>
    <th>
      {{ l('advert.publication_date') }}
    </th>
    <th>
      {{ l('advert.actions') }}
    </th>
  </thead>
  <tbody>
    <tr>
      <td colspan='4'>
        <button ng-click="addAdvert()" class='btn btn-primary'>
          {{ l('app.buttons.add_advert') }}
        </button>
      </td>
    </tr>
    <tr ng-repeat='advert in adverts'>
      <td>
        {{ advert.applicant.fullname }}
      </td>
      <td>
        {{ advert.title }}
      </td>
      <td>
        {{ advert.publication_date }}
      </td>
      <td>
        <button ng-click='destroyAdvert(advert)' class='btn btn-danger'>
          {{ l('app.buttons.remove')}}
        </button>
        <button ui-sref="advert_edit({advertId: advert.id})" class='btn btn-warning'>
          {{ l('app.buttons.edit')}}
        </button>
        <button ng-click="changeState(advert, 'publish')" ng-if="resolveChangeStateVisibility(advert, 'draft')" class='btn btn-success'>
          {{ l('app.buttons.publish') }}
        </button>

        <button ng-click="changeState(advert, 'unpublish')" ng-if="resolveChangeStateVisibility(advert, 'publicated')" class='btn btn-warning'>
          {{ l('app.buttons.unpublish') }}
        </button>
      </td>
    </tr>
  </tbody>
</table>
