<ng-include src="'load_status.html'"></ng-include>
<div class='adverts-wrapper' ng-show='!loadStatus'>
<h3>
  {{ l("app.adverts") }}
</h3>
<div class='row margin-bottom-10'>
  <div class='col-xs-12 col-sm-8 col-md-6 col-lg-6 filters'>
    <input type='text' placeholder='Поиск по диссертационному совету'
           ng-model='searchText'
           class='form-control form-control-small'
           >
  </div>
  <div class='col-xs-12 col-sm-4 col-md-6 col-lg-6 material-design-form text-right'>
    <button ng-click="addAdvert()" class='btn btn-add'>
      {{ l('app.buttons.add_advert') }}
    </button>
  </div>
</div>
<table class='adverts list without-border small-responsive'>
  <thead class='font-size-14'>
    <th class='text-left bottom-border reset-top-border'>{{ l('advert.dissertation_council') }}</th>
    <th class='text-left bottom-border reset-top-border'>{{ l('advert.applicant') }}</th>
    <th class='text-left bottom-border reset-top-border'>{{ l('advert.dk') }}</th>
    <th class='text-left bottom-border reset-top-border'>{{ l('advert.title') }}</th>
    <th class='text-left bottom-border reset-top-border'>{{ l('advert.speciality') }}</th>
    <th class='text-left bottom-border reset-top-border'>{{ l('advert.placement_date') }}</th>
    <th class='text-left bottom-border reset-top-border'>{{ l('advert.protection_date') }}</th>
  </thead>

  <tbody>
    <tr ng-repeat='advert in adverts | filter: searchText '>
      <td class='council-number'>
        <a ui-sref="council_edit({councilId: advert.dissertation_council.id})">
          {{ advert.dissertation_council.number }}
        </a>
      </td>
      <td class='applicant-fullname'>
        <a ui-sref="advert_edit({advertId: advert.id})">
          {{ advert.applicant.fullname }}
        </a>
      </td>
      <td class='applicant-science-degree'>
        {{ advert.applicant.science_degree }}
      </td>
      <td class='advert-title'>
        {{ advert.title }}
      </td>
      <td class='council-speciality-code'>
        {{ advert.council_speciality.code }}
      </td>
      <td class='advert-placement-date'>
        {{ advert.placement_date }}
      </td>
      <td class='advert-publication-date'>
        {{ advert.publication_date }}
      </td>
      <td>
        <a ui-sref="versions({item_type: 'advert', item_id: advert.id})">{{ l('app.versions') }}</a>
      </td>
      <td ng-if="advert.aasm_state == 'draft'">
        <span ng-click='destroyAdvert(advert)'
              class='glyphicon glyphicon-remove'
        ></span>
      </td>
    </tr>
  </tbody>
</table>
</div>
