<div class='councils-data'>
  <h3>
    {{ l('app.councils') }}
  </h3>
  <form>
  </form>

  <table class='table'>
    <thead>
      <th>
        {{ l('councils.number') }}
      </th>
      <th>
        {{ l('councils.executive') }}
      </th>
      <th>
        {{ l('app.actions') }}
      </th>
    </thead>
    <tbody>
      <tr ng-hide='formToggled'>
        <td colspan="3">
          <button ng-click='toggleForm()' class='btn btn-primary'>
            {{ l('app.buttons.add') }}
          </button>
        </td>
      </tr>
      <tr ng-if='formToggled'>
        <td>
          <input type="text"
                 placeholder="{{ l('councils.number') }}"
                 ng-model='new_council.number'
                 class='form-control form-control-small'
                >
        </td>
        <td></td>
        <td>
          <button ng-show='new_council.number.length > 0'
                  ng-click='submitCouncil()'
                  class='btn btn-success'
                  >
            {{ l('app.buttons.save') }}
          </button>
        </td>
      </tr>
      <tr ng-repeat='council in councils'>
        <td>
          {{ council.number }}
        </td>
        <td class='actions'>
          <p ng-repeat='clerk in council.clerks'>
            {{ clerk.fullname }}
          </p>
          <span ng-hide='council.clerks.length'>
            <span>Добавить</span>
            <span class='glyphicon glyphicon-plus'/>
          </span>
        </td>
        <td class='actions councils-actions'>
          <a ui-sref="council_edit({councilId: council.id})" class='no-hover-text-decoration'>
            <span class='glyphicon glyphicon-pencil'/>
          </a>
          <span class='glyphicon glyphicon-remove'
                ng-click='removeCouncil(council)'
          />
        </td>
      </tr>
    </tbody>
  </table>
</div>
