<h3>
  {{ l('app.advert_edit') }}
</h3>
<form name='advertForm' novalidate>
   <!-- applicant input -->
  <div class="row">
    <div class="col-xs-12">
      <h5 class='page-header'>
        {{ l('advert.applicant') }}
      </h5>
    </div>
    <div class="col-xs-12">
      <people-input context='applicant_context || contextFor("applicant")'
                    person='advert.applicant'
                    ng-hide='advert.applicant.id'
                    ></people-input>

      </people-input>
      <people-list person='advert.applicant'
                   person_type='applicant'
                   destroy-with='destroyPost'
                   ng-if='advert.applicant.id'
                   >
      </people-list>
    </div>
  </div>
  <!-- end of applicant input -->

  <div class="row">
    <div class="col-xs-12">
      <h5 class='page-header'>
        {{ l('advert.title') }}
      </h5>
    </div>
    <div class="col-xs-12">
      <input type="text"
             ng-model='advert.title'
             placeholder='{{advert.title}}'
             name='title'
             class='form-control form-control-small'
             ng-model-options='{ debounce: 1000 }'
             ng-change='updateField("title")'
             required
            >

      <span ng-show='advertForm.title.$invalid && advertForm.title.$dirty'>
        {{ l('forms.field-invalid')}}
      </span>
      </button>
    </div>
  </div>

  <!-- mentor input -->
  <div class="row">
    <div class="col-xs-12">
      <h5 class='page-header'>
        {{ l('advert.mentor') }}
      </h5>
    </div>
    <div class="col-xs-12">
      <people-input context='mentor_context || contextFor("mentor")'
                    person='advert.mentor'
                    ng-hide='advert.mentor.id'
                    ></people-input>

      </people-input>
      <people-list person='advert.mentor'
                   person_type='mentor'
                   destroy-with='destroyPost'
                   ng-if='advert.mentor.id'
                   >
      </people-list>

    </div>
  </div>
  <!-- end of applicant input -->

  <!-- speciality input -->
  <div class="row">
    <div class="col-xs-12">
      <h5 class='page-header'>
        {{ l('advert.speciality') }}
      </h5>
    </div>
    <div class="col-xs-12">
      <speciality-input speciality='advert.council_speciality'
                        add-function='addSpeciality'
                        ></speciality-input>

      <speciality-list speciality='advert.council_speciality'
                       destroy-function='destroySpeciality'
      ></speciality-list>
    </div>
  </div>
  <!-- end of speciality input -->

  <!-- dissertation council select -->
  <div class="row">
    <div class="col-xs-12">
      <h5 class='page-header'>
        {{ l('advert.dissertation_council') }}
      </h5>
    </div>
    <div class="col-xs-12">
      <select ng-model='advert.dissertation_council'
              ng-options='council.number for council in avalaibleCouncils track by council.id'
              ng-change='updateDissertationCouncil()'
              required
              >
              </select>
    </div>
  </div>
  <!-- end of dissertation council select -->

  <!-- publication date -->
  <div class="row">
    <div class="col-xs-12">
      <h5 class='page-header'>
        {{ l('advert.publication_date') }}
      </h5>
    </div>
    <div class="col-xs-12" ng-if='advert.id'>

      <date-selector label="{{ l('advert.publication_date') }}"
                     target='advert.publication_date'
                     update-function='updateField'
                     field-name='publication_date'
                     ></date-selector>
    </div>
  </div>
  <!-- end of publication date -->

  <!-- place of dissertation defense -->
  <div class="row">
    <div class="col-xs-12">
      <h5 class="page-header">
          {{ l('advert.place')}}
      </h5>
    </div>
    <div class="col-xs-12">
      <input type="text"
             ng-model='advert.place'
             placeholder='{{ l("advert.place") }}'
             name='place'
             class='form-control form-control-small'
             ng-model-options='{ debounce: 1000 }'
             ng-change='updateField("place")'
             required
            >
      <span ng-show='advertForm.place.$invalid && advertForm.place.$dirty'>
        {{ l('forms.field-invalid') }}
      </span>
    </div>
  </div>
  <!-- end place of dissertation defense -->

  <!-- file upload -->
  <div class="row" ng-if='advert.id'>
    <div class="col-xs-12">
      <h5 class="page-header">
        {{ l('advert.files_upload') }}
      </h5>
    </div>
    <div class="col-xs-12">
      <label>
        {{ l('advert.files.dissertation') }}
      </label>
      <file-uploader multiple='single'
                     file='advert.dissertation'
                     kind='dissertation'
                     context-type='Advert'
                     context-id='advert.id'
                     >
      </file-uploader>
    </div>
    <div class="col-xs-12">
      <label>
        {{ l('advert.files.synopsis') }}
      </label>
      <file-uploader multiple='single'
                     file='advert.synopsis'
                     kind='synopsis'
                     context-type='Advert'
                     context-id='advert.id'
                     >
      </file-uploader>
    </div>
    <div class="col-xs-12">
      <label>
        {{ l('advert.files.conclusion') }}
      </label>
      <file-uploader multiple='multiple'
                     files='advert.conclusion'
                     kind='conclusion'
                     context-type='Advert'
                     context-id='advert.id'
                     >
      </file-uploader>
    </div>
    <div class="col-xs-12">
      <label>
        {{ l('advert.files.review') }}
      </label>
      <file-uploader multiple='multiple'
                     files='advert.review'
                     kind='review'
                     context-type='Advert'
                     context-id='advert.id'
                     >
      </file-uploader>
    </div>
    <div class="col-xs-12">
      <label>
        {{ l('advert.files.protocol') }}
      </label>
      <file-uploader multiple='single'
                     file='advert.protocol'
                     kind='protocol'
                     context-type='Advert'
                     context-id='advert.id'
                     >
      </file-uploader>
    </div>
    <div class="col-xs-12">
      <label>
        {{ l('advert.files.council_conclusion') }}
      </label>
      <file-uploader multiple='single'
                     file='advert.council_conclusion'
                     kind='council_conclusion'
                     context-type='Advert'
                     context-id='advert.id'
                     >
      </file-uploader>
    </div>
  </div>
  <!-- end of file upload -->

  <!-- opponents -->
  <div class="row">
    <div class="col-xs-12">
      <h5 class="page-header">
        {{ l('advert.opponents') }}
      </h5>
    </div>
    <div class="col-xs-12">
      <people-input context='opponent_context || contextFor("opponent")'
                    people='advert.opponents'
                    >
      </people-input>
      <people-list people='advert.opponents'
                   person-type='opponent'
                   context='opponent_context || contextFor("opponent")'
                   destroy-with='destroyPost'
                   >
      </people-list>
    </div>
  </div>
  <!-- end of opponents -->

  <!-- opponents -->
  <div class="row">
    <div class="col-xs-12">
      <h5 class="page-header">
        {{ l('advert.reviewer_review') }}
      </h5>
    </div>
    <div class="col-xs-12">
      <people-input context='reviewer_context || contextFor("reviewer")'
                    people='advert.reviewers'
                    >
      </people-input>
      <people-list people='advert.reviewers'
                   person-type='reviewer'
                   context='reviewer_context || contextFor("reviewer")'
                   destroy-with='destroyPost'
                   >
      </people-list>
    </div>
  </div>
  <!-- end of opponents -->

</form>
