<h3>
  {{ l('app.advert_edit') }}
</h3>

<ng-include src="'load_status.html'"></ng-include>

<div ng-form='advertForm'
     class='edit-advert-form'
     ng-show='!loadStatus'
     novalidate>

  <!-- applicant input -->
  <div class="row advert-add-person-form">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class='devider'>
        <h3 class='inline-header'>{{ l('advert.applicant') }} </h3>
        <span class='link-emulator'
          ng-click="changeBlockName('applicant')"
          ng-show="blockName != 'applicant'"
          ng-hide='advert.applicant.id'
          >
          Добавить
        </span>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <people-input context='applicant_context || contextFor("applicant")'
                    person='advert.applicant'
                    ng-show="blockName == 'applicant' && !advert.applicant.id"
                    specialities='specialities'
                    block-name-value='blockName'
                    ></people-input>

      </people-input>
    </div>
    <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12 people-list'>
      <people-list person='advert.applicant'
                   person_type='applicant'
                   destroy-with='destroyPost'
                   ng-if='advert.applicant.id'
                   ></people-list>
    </div>
  </div>
  <!-- end of applicant input -->

  <!-- science_degree -->
  <div class="row material-design-form">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class='devider'>
        <h3 class='inline-header'>{{ l('advert.science_degree') }}</h3>
      </div>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-6 group">
      <select ng-options='degree.value for degree in science.science_degrees track by degree.value'
              ng-model='science_degree'
              placeholder='{{advert.science_degree}}'
              name='title'
              class='form-control'
              ng-model-options='{ debounce: 1000 }'
              ng-change='copyFrom("science_degree")'
              required
              ></select>
      <span class="bar"></span>
      <label>{{ l('advert.science_degree') }}
        <abbr title="{{ l('forms.field-invalid')}}" class="required">*</abbr>
      </label>
      <span ng-show='advertForm.title.$invalid && advertForm.title.$dirty' class='invalid-message'>
        {{ l('forms.field-invalid')}}
      </span>
    </div>
    <div class='col-xs-12 col-sm-4 col-md-3 col-lg-3 preloader' ng-if="isLoading() && showPreloader == 'science_degree'">
      Идет сохранение...
    </div>
    <div class='col-xs-12 col-sm-4 col-md-3 col-lg-3 success-state' ng-if="showPreloader == 'science_degree' && showSuccessState">
      <span class='glyphicon glyphicon-ok'><span class='text'>Сохранено</span></span>
    </div>
  </div>
  <!-- end science degree -->


  <!-- dissertation theme -->
  <div class="row material-design-form">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <div class='devider'>
        <h3 class='inline-header'>{{ l('advert.title') }} </h3>
      </div>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-6 group">
      <input type="text"
             ng-model='advert.title'
             placeholder='{{advert.title}}'
             name='title'
             class='form-control form-control-small'
             ng-model-options='{ debounce: 1000 }'
             ng-change='updateField("title")'
             required
            >
      <span class="bar"></span>
      <label>{{ l('advert.title') }}
        <abbr title="{{ l('forms.field-invalid')}}" class="required">*</abbr>
      </label>
      <span ng-show='advertForm.title.$invalid && advertForm.title.$dirty' class='invalid-message'>
        {{ l('forms.field-invalid')}}
      </span>
    </div>
    <div class='col-xs-12 col-sm-4 col-md-3 col-lg-3 preloader' ng-if="isLoading() && showPreloader == 'title'">
      Идет сохранение...
    </div>
    <div class='col-xs-12 col-sm-4 col-md-3 col-lg-3 success-state' ng-if="showPreloader == 'title' && showSuccessState">
      <span class='glyphicon glyphicon-ok'><span class='text'>Сохранено</span></span>
    </div>
  </div>

  <!-- speciality input -->
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class='devider'>
        <h3 class='inline-header'>{{ l('advert.speciality') }}</h3>
        <span class='link-emulator'
              ng-click='showSpecialityInput = !showSpecialityInput'
              ng-show='advert.council_speciality.length == 0 || !advert.council_speciality'>
              Добавить
        </span>
      </div>
        <speciality-input speciality='advert.council_speciality'
                          add-function='addSpeciality'
                          is-single='true'
                          show-search='showSpecialityInput'
                          ng-show='showSpecialityInput'
                          >
        </speciality-input>

        <speciality-list speciality='advert.council_speciality'
                         destroy-function='destroySpeciality'
                         hide-alfavit-sort='true'
                         ng-hide='advert.council_speciality.length == 0 || !advert.council_speciality'
        ></speciality-list>
    </div>
  </div>
  <!-- end of speciality input -->

  <!-- dissertation council select -->
  <div class="row material-design-form">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class='devider'>
        <h3 class='inline-header'>{{ l('advert.dissertation_council') }}</h3>
      </div>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-6 group">
      <select ng-model='advert.dissertation_council'
              ng-options='council.number for council in avalaibleCouncils track by council.id'
              ng-change='updateDissertationCouncil()'
              class='form-control'
              required
              >
              </select>
      <span class="bar"></span>
      <label>{{ l('advert.dissertation_council') }}
        <abbr title="{{ l('forms.field-invalid')}}" class="required">*</abbr>
      </label>
    </div>
    <div class='col-xs-12 col-sm-4 col-md-3 col-lg-3 preloader' ng-if="isLoading() && showPreloader == 'dissertation_council_id'">
      Идет сохранение...
    </div>
    <div class='col-xs-12 col-sm-4 col-md-3 col-lg-3 success-state' ng-if="showPreloader == 'dissertation_council_id' && showSuccessState">
      <span class='glyphicon glyphicon-ok'><span class='text'>Сохранено</span></span>
    </div>
  </div>
  <!-- end of dissertation council select -->

  <!-- mentor input -->
  <div class="row advert-add-person-form">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class='devider'>
        <h3 class='inline-header'>{{ l('advert.mentor') }}</h3>
        <span class='link-emulator'
          ng-click="changeBlockName('mentor')"
          ng-show="blockName != 'mentor' || !advert.mentor"
          data='advert.mentor'>
          Добавить
        </span>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <people-input context='mentor_context || contextFor("mentor")'
                    person='advert.mentor'
                    ng-hide="blockName != 'mentor' || advert.mentor.id"
                    specialities='specialities'
                    ng-show="blockName == 'mentor'"
                    block-name-value='blockName'
                    ></people-input>

      </people-input>
    </div>
    <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12'>
      <people-list person='advert.mentor'
                   person_type='mentor'
                   destroy-with='destroyPost'
                   ng-if='advert.mentor.id'
                   >
      </people-list>
    </div>
  </div>
  <!-- end of mentor input -->

  <!-- placement date -->
  <div class="row material-design-form">
    <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12'>
      <div class='devider'>
        <h3 class='inline-header'>{{ l('advert.placement_date') }}</h3>
      </div>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-6 group" ng-if='advert.id'>
      <date-selector label="{{ l('advert.placement_date') }}"
                     target='advert.placement_date'
                     update-function='updateField'
                     field-name='placement_date'
                     ></date-selector>
    </div>
    <div class='col-xs-12 col-sm-4 col-md-3 col-lg-3 preloader' ng-if="isLoading() && showPreloader == 'placement_date'">
      Идет сохранение...
    </div>
    <div class='col-xs-12 col-sm-4 col-md-3 col-lg-3 success-state' ng-if="showPreloader == 'placement_date' && showSuccessState">
      <span class='glyphicon glyphicon-ok'><span class='text'>Сохранено</span></span>
    </div>
  </div>
  <!-- end of publication date -->

  <!-- publication date -->
  <div class="row material-design-form">
    <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12'>
      <div class='devider'>
        <h3 class='inline-header'>{{ l('advert.protection_date') }}</h3>
      </div>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-6 group" ng-if='advert.id'>
      <date-selector label="{{ l('advert.protection_date') }}"
                     target='advert.publication_date'
                     update-function='updateField'
                     field-name='publication_date'
                     ></date-selector>
    </div>
    <div class='col-xs-12 col-sm-4 col-md-3 col-lg-3 preloader' ng-if="isLoading() && showPreloader == 'publication_date'">
      Идет сохранение...
    </div>
    <div class='col-xs-12 col-sm-4 col-md-3 col-lg-3 success-state' ng-if="showPreloader == 'publication_date' && showSuccessState">
      <span class='glyphicon glyphicon-ok'><span class='text'>Сохранено</span></span>
    </div>
  </div>
  <!-- end of publication date -->

  <!-- place of dissertation defense -->
  <div class="row material-design-form">
    <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12'>
      <div class='devider'>
        <h3 class='inline-header'>{{ l('advert.place')}}</h3>
      </div>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-6 group">
      <input type="text"
             ng-model='advert.place'
             name='place'
             class='form-control form-control-small'
             ng-model-options='{ debounce: 1000 }'
             ng-change='updateField("place")'
             required
            >
      <span class="bar"></span>
      <label>{{ l("advert.place") }}</label>
      <span ng-show='advertForm.place.$invalid && advertForm.place.$dirty'>
        {{ l('forms.field-invalid') }}
      </span>
    </div>
    <div class='col-xs-12 col-sm-4 col-md-3 col-lg-3 preloader' ng-if="isLoading() && showPreloader == 'place'">
      Идет сохранение...
    </div>
    <div class='col-xs-12 col-sm-4 col-md-3 col-lg-3 success-state' ng-if="showPreloader == 'place' && showSuccessState">
      <span class='glyphicon glyphicon-ok'><span class='text'>Сохранено</span></span>
    </div>
  </div>
  <!-- end place of dissertation defense -->

  <!-- file upload -->
  <div class="row file-uploads material-design-form" ng-if='advert.id'>
    <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12'>
      <div class='devider'>
        <h3 class='inline-header'>{{ l('advert.files_upload') }}</h3>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 file-block">
      <label>
        {{ l('advert.files.dissertation') }}
      </label>
      <file-uploader multiple='single'
                     file='advert.dissertation'
                     kind='dissertation'
                     context-type='Advert'
                     context-id='advert.id'
                     >
      </file-uploader>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 file-block">
      <label>
        {{ l('advert.files.conclusion') }}
      </label>
      <file-uploader multiple='multiple'
                     files='advert.conclusion'
                     kind='conclusion'
                     context-type='Advert'
                     context-id='advert.id'
                     >
      </file-uploader>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 file-block">
      <label>
        {{ l('advert.files.review') }}
      </label>
      <file-uploader multiple='multiple'
                     files='advert.review'
                     kind='review'
                     context-type='Advert'
                     context-id='advert.id'
                     >
      </file-uploader>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 file-block">
      <label>
        {{ l('advert.files.synopsis') }}
      </label>
      <file-uploader multiple='single'
                     file='advert.synopsis'
                     kind='synopsis'
                     context-type='Advert'
                     context-id='advert.id'
                     >
      </file-uploader>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 file-block">
      <label>
        {{ l('advert.files.protocol') }}
      </label>
      <file-uploader multiple='single'
                     file='advert.protocol'
                     kind='protocol'
                     context-type='Advert'
                     context-id='advert.id'
                     >
      </file-uploader>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 file-block">
      <label>
        {{ l('advert.files.council_conclusion') }}
      </label>
      <file-uploader multiple='single'
                     file='advert.council_conclusion'
                     kind='council_conclusion'
                     context-type='Advert'
                     context-id='advert.id'
                     >
      </file-uploader>
    </div>
  </div>
  <!-- end of file upload -->

  <!-- leading organization -->
  <div class="row leading-organization file-uploads" ng-if='advert.id'>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 title">
      <div class='devider'>
        <h3 class='inline-header'>{{ l('advert.organization_name') }}</h3>
        <span class='preloader' ng-if="isLoading() && showPreloader == 'organization_name'">
          Идет сохранение...
        </span>
        <span class='success-state' ng-if="showPreloader == 'organization_name' && showSuccessState">
          <span class='glyphicon glyphicon-ok'><span class='text'>Сохранено</span></span>
        </span>
      </div>
      <textarea  ng-model='advert.organization_name'
                 placeholder='{{ l("advert.organization_name") }}'
                 name='organization_name'
                 class='form-control form-control-small'
                 ng-model-options='{ debounce: 1000 }'
                 ng-change='updateField("organization_name")'
                 required
                 rows='5'
            ></textarea>
      <span ng-show='advertForm.organization_name.$invalid && advertForm.organization_name.$dirty'>
        {{ l('forms.field-invalid') }}
      </span>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 file-block margin-top-10">
      <label>
        {{ l('advert.files.organization_review') }}
      </label>
      <file-uploader multiple='single'
               file='advert.organization_review'
               kind='organization_review'
               context-type='Advert'
               context-id='advert.id'
               >
      </file-uploader>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 file-block">
      <label>
        {{ l('advert.files.organization_publication') }}
      </label>
      <file-uploader multiple='single'
               file='advert.organization_publication'
               kind='organization_publication'
               context-type='Advert'
               context-id='advert.id'
               >
      </file-uploader>
    </div>
  </div>
  <!-- end of leading organization -->

  <!-- opponents -->
  <div class="row advert-add-person-form">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class='devider'>
        <h3 class='inline-header'>{{ l('advert.opponents') }}</h3>
        <span class='link-emulator'
          ng-click="changeBlockName('opponents')"
          ng-show="blockName != 'opponents'">
          Добавить
        </span>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <people-input context='opponent_context || contextFor("opponent")'
                    people='advert.opponents'
                    specialities='specialities'
                    block-name-value='blockName'
                    ng-show="blockName == 'opponents'"
                    >
      </people-input>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 people-list">
      <people-list people='advert.opponents'
                   person-type='opponent'
                   context='opponent_context || contextFor("opponent")'
                   destroy-with='destroyPost'
                   update-order-function='updatePersonOrder'
                   specialities='council.specialities'
                   save-edit-person='savePerson'
                   restore-edit-person='restorePerson'
                   change-active-person-form='changePersonForm'
                   hide-sort-icons='true'
                   hide-label='true'
                   >
      </people-list>
    </div>
  </div>
  <!-- end of opponents -->

  <!-- reviewers -->
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class='devider'>
        <h3 class='inline-header'>{{ l('advert.reviewer_review') }}</h3>
        <span class='link-emulator'
              ng-click="changeBlockName('reviewers')"
              ng-show="blockName != 'reviewers'">
          Добавить
        </span>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <people-input context='reviewer_context || contextFor("reviewer")'
                    people='advert.reviewers'
                    specialities='specialities'
                    block-name-value='blockName'
                    ng-show="blockName == 'reviewers'"
                    >
      </people-input>
      <people-list people='advert.reviewers'
                   person-type='reviewer'
                   context='reviewer_context || contextFor("reviewer")'
                   destroy-with='destroyPost'
                   specialities='council.specialities'
                   save-edit-person='savePerson'
                   restore-edit-person='restorePerson'
                   change-active-person-form='changePersonForm'
                   hide-sort-icons='true'
                   hide-label='true'
                   >
      </people-list>
    </div>
  </div>
  <!-- end of reviewers -->

  <div class='row material-design-form margin-top-10'>
    <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12'>
      <button ng-click="changeState('publish')"
              ng-if="resolveChangeStateVisibility('draft')"
              class='btn btn-save'>
        {{ l('app.buttons.publish') }}
      </button>

      <button ng-click="changeState('unpublish')"
              ng-if="resolveChangeStateVisibility('publicated')"
              class='btn btn-cancel'>
        {{ l('app.buttons.unpublish') }}
      </button>
    </div>
  </div/

</div>
