<!-- if used with list -->
<div ng-if='people.length' class='alternative-table people-list-table'>
  <div class='header'>
    <div class='col-lg-4 header-cell'>ФИО, должность в совете</div>
    <div class='col-lg-4 header-cell'>Место работы, должность</div>
    <div class='col-lg-2 header-cell'>Специальность</div>
    <div class='col-lg-1 header-cell'>Действия</div>
    <div class='col-lg-1 header-cell'><abbr title='Отсортировать по алфавиту'><span class='alfavit-sort' ng-click='peopleAlfavitOrder()'></span></abbr></div>
  </div>

  <div ui-sortable='sortableOptions' ng-model='people'>
    <div ng-repeat='person in people' class='row content-row person-block'>
      <!-- Person FIO and work post-->
      <div class='info col-lg-4 content-cell'>
        <span class='person-name'>{{ person.fullname }}</span>
        <br>
        <text-input target='person.current_post.title'
                    update-function='updatePost'
                    target-context='person.current_post'>
        </text-input>
      </div>

      <!-- Work place and work post-->
      <div class='col-lg-4 content-cell'>
        <span class='work-place'>{{ person.work_place }}</span><br>
        <span class='gray-text small'>{{ person.science_degree }} {{ person.science_degree.length != 0 ? ', ' : ''}} {{ person.work_post }}</span>
      </div>

      <!-- Person speciality-->
      <div class='col-lg-2 content-cell'>
        <span class='speciality-code orange-line'>
          <speciality-selector person='person'
                               update-function='updatePost'
                               specialities='specialities'
                               context='context'>
          </speciality-selector>
        </span>
      </div>

      <!-- Person actions -->
      <div class='col-lg-1 content-cell actions'>
        <span ng-click='destroyPersonFunction(person, person_type)' class='glyphicon glyphicon-remove'></span>
        <span class='handle sort-icon' ng-show='people.length > 1'></span>
      </div>

      <div ng-if='context && person_type == "opponent" ' class='col-xs-12'>
        <label> {{ l('advert.files.opponent_review') }} </label>
        <file-uploader multiple='single'
                       file='person.opponent_review'
                       kind='opponent_review'
                       context-type='{{context.context_type}}'
                       context-id='context.context_id'
                       person-id ='person.id'
                       >
        </file-uploader>
      </div>
      <div ng-if='context && person_type == "opponent" ' class='col-xs-12 publication'>
        <label> {{ l('advert.files.publication') }} </label>
        <file-uploader multiple='single'
                       file='person.publication'
                       kind='publication'
                       context-type='{{context.context_type}}'
                       context-id='context.context_id'
                       person-id ='person.id'
                       >
        </file-uploader>
      </div>
      <div ng-if='context && person_type == "reviewer" ' class='col-xs-12 reviewer-file'>
        <label> {{ l('advert.files.reviewer_review') }} </label>
        <file-uploader multiple='single'
                       file='person.reviewer_review'
                       kind='reviewer_review'
                       context-type='{{context.context_type}}'
                       context-id='context.context_id'
                       person-id ='person.id'
                       >
        </file-uploader>
      </div>
    </div>
  </div>
</div>

<!-- if used with one person -->
<div class="row" ng-if='person'>
  <div class="col-xs-5">
    <p>
      <strong>
        {{ person.fullname }}
      </strong>
      <br>
      <small>
        {{ person.current_post.title }}
      </small>
      <br />
      <small>
        {{ personDegrees(person) }}
      </small>
    </p>
  </div>
  <div class='col-xs-7'>
    <button ng-click='destroyPersonFunction(person, person_type)' class='btn btn-danger'>
      {{ l('app.buttons.remove')}}
    </button>
  </div>
</div>
