<div class='add-person-form' ng-form='peopleInput' ng-class='personNotFound ? "material-design-form new-person" : " "'>
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-6" ng-hide='personNotFound'>
      <!-- ready person search -->
      <div class="search" ng-hide='new_person.fullname'>
        <angucomplete-alt id="user-angucomplete"
                          placeholder="Поиск среди участников"
                          minlength="3"
                          clear-selected='true'
                          remote-url='manage/people/search'
                          remote-url-request-formatter='requestFormatter'
                          remote-url-response-formatter='searchResponseFormatter'
                          title-field="fullname"
                          description-field="email"
                          search-fields="fullname,email"
                          selected-object="setPerson"
                          match-class="highlight"
                          input-class="form-control form-control-small angucomplete-input"
                          text-searching="Идет поиск..."
                          ></angucomplete-alt>
      </div>

      <div ng-show='new_person.fullname'>
        <!-- ready person output -->
        <span >
          {{ new_person.fullname }}
        </span>
      </div>

    </div>
  </div>

  <div class="row">
    <!-- New person form -->
    <person-form person='new_person'
                 person-not-found='personNotFound'
                 info-update-function='updateDirectorySearch'
                 form-object= 'peopleInput'
                 >
    </person-form>
    <!-- Directory results -->
    <div class="col-xs-12 col-sm-4 col-md-5 col-lg-4 directory-results"  ng-if='personNotFound'>
      <ul>
        <li ng-repeat='result in directory_search'
            ng-click='fillPerson(result)'
            >
          <div class="row person">
            <strong>
              {{ result.full_name }}
            </strong>
            <small ng-if='result.academic_degree'>
              <br/>
              {{ l('person.academic_degree') }}: {{ result.academic_degree }}
            </small>
            <small ng-if='result.academic_rank'>
              <br/>
              {{ l('person.academic_title') }}: {{ result.academic_rank }}
            </small>
            <small ng-repeat='post in postsOf(result.posts)'>
              {{ post }}
            </small>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <!--  End of new person form -->

  <!-- Post title -->
  <div class='clearfix'></div>
  <br>
  <div class="row" ng-if='new_person.name && new_person.surname && askPost'>
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-8 group">
      <input ng-model='new_person.post.title'
             type="text"
             name='post_title'
             >
      <span class="bar"></span>
      <label>{{ l('post.title') }}</label>
      <span ng-if='peopleInput.post_title.$error.required && peopleInput.post_title.$dirty'>
        {{ l('forms.field-invalid')}}
      </span>
    </div>
  </div>

  <!-- speciality input -->
  <div class="row" ng-if='new_person.name && new_person.surname && askPost'>
    <div class="col-lg-8 group">
      <label>{{ l('person.speciality') }}</label>
      <speciality-input speciality='new_person_post_speciality'
                        add-function='setSpeciality'
                        is-single="true"
                        ></speciality-input>

      <speciality-list speciality='new_person_post_speciality'
                       destroy-function='destroySpeciality'
      ></speciality-list>
    </div>
  </div>
  <!-- end of speciality input -->

  <!-- end of Post title -->
  <div class='row add-person-form-actions'>
    <div class="col-lg-1" ng-show='new_person.name' >
      <button ng-click='submitPerson()' class='btn btn-save'>
        {{ l('app.buttons.save') }}
      </button>
    </div>
    <div class='col-lg-1'>
      <button ng-click='cleanPerson(); hideForm()' class='btn btn-cancel' ng-show='personNotFound || new_person.name'>
        {{ l('app.buttons.cancel') }}
      </button>
    </div>
    <div class='col-lg-1 btn-clean-wrapper'>
      <a ng-click='cleanPerson()' ng-show='personNotFound || new_person.name' class='btn-clean'>
        {{ l('app.buttons.clean') }}
      </a>
    </div>
  </div>
</div>
