<!-- if used with list -->
<table ng-if='people.length' class='people-list-table'>
  <tbody ui-sortable='sortableOptions' ng-model='people'>
    <tr ng-repeat='person in people'>
      <td class='info'>
      <strong>
        {{ person.fullname }}
      </strong>
      <br>
      <small>
        {{ person.current_post.title }}
      </small>
      <br>
      <small>
        {{ personDegrees(person) }}
      </small>
      </td>
      <td class='actions'>
        <span class='handle glyphicon glyphicon-sort' ng-show='people.length > 1'></span>
        <button ng-click='destroyPersonFunction(person)' class='btn btn-danger'>Удалить</button>
      </td>
    </tr>
  </tbody>
</table>

<!-- if used with one person -->
<div class="row" ng-if='person'>
  <div class="col-xs-12">
    <p>
      <strong>
        {{ person.fullname }}
      </strong>
      <br>
      <small>
        {{ person.current_post.title }}
      </small>
      <br />
      <small>
        {{ personDegrees(person) }}
      </small>
      <button ng-click='destroyPersonFunction(person, person_type)' class='btn btn-danger'>
        {{ l('app.buttons.remove')}}
      </button>
    </p>
  </div>
</div>
