<div class='row specialities-index' ng-form='specialitesForm'>
  <div class="col-xs-12 margin-bottom-10">
    <input type="text"
           ng-model='searchQuery'
           autofocus='true'
           class='form-control'
           ng-model-options='{ debounce: 300 }'
           placeholder="{{ l('search_placeholder')}}"
          >
  </div>
  <div class="col-xs-12" ng-repeat='speciality in specialities | filter:searchQuery '>
    <div class='speciality-title'>
      <span ng-show='!(activeSpeciality == speciality.id)'>{{ speciality.code }}: {{ speciality.title }}</span>
      <span class='edit-icon'
            ng-click='setSpecialityActive(speciality)'
            ng-show='!activeSpecialityForm'>
      </span>
    </div>
    <div class='edit-speciality-form material-design-form'
         ng-class="{'edit-speciality': activeSpecialityForm == speciality.id}">
      <speciality-form speciality='speciality'
                       ng-show='activeSpecialityForm == speciality.id'>
      </speciality-form>
      <button ng-click='saveSpeciality(speciality)'
              ng-show='activeSpecialityForm == speciality.id'
              class='btn btn-save'>
        {{ l('app.buttons.save') }}
      </button>
      <button ng-click='restoreSpeciality(speciality)'
              ng-show='activeSpecialityForm == speciality.id'
              class='btn btn-cancel'>
        {{ l('app.buttons.cancel') }}
      </button>
    </div>
  </div>
</div>
