<div class='specialities-items alternative-table'>
  <div class='header'>
    <div class='hidden-xs col-sm-2 col-md-2 col-lg-2 header-cell'>Код</div>
    <div class='hidden-xs col-sm-7 col-md-8 col-lg-8 header-cell'>Название</div>
    <div class='hidden-xs col-sm-2 col-md-1 col-lg-1 header-cell'>Действия</div>
    <div class='hidden-xs col-sm-1 col-md-1 col-lg-1 header-cell'
         ng-class="{'empty-cell': hideAlfavitSort}">

      <abbr title='Отсортировать по алфавиту'>
        <span class='alfavit-sort'
              ng-click='specialitiesAlfavitOrder()'
              ng-hide='hideAlfavitSort'>
        </span>
      </abbr>
    </div>
  </div>

  <div ui-sortable='sortableOptions'
       ng-model='specialities'
       ng-class="{'order-success': orderAllItems}">

    <div class='row content-row'
         ng-repeat='speciality in specialities'
         ng-if='specialities.length'
         ng-class="{'order-success': detectEqualItem(speciality)}">

      <div class='col-xs-4 col-sm-2 col-md-2 col-lg-2 content-cell'>{{ speciality.code }}</div>
      <div class='col-xs-6 col-sm-7 col-md-8 col-lg-8 content-cell'>{{ speciality.title }}</div>

      <div class='col-xs-1 col-sm-2 col-md-2 col-lg-1 content-cell actions'>
        <span class='handle sort-icon' ng-show='specialities.length > 1'></span>
        <span ng-click='destroyFunction(speciality)' class='glyphicon glyphicon-remove'></span>
      </div>

    </div>
  </div>

  <div class='row content-row' ng-if='speciality.id'>
    <div class='col-lg-2 content-cell'>{{ speciality.code }}</div>
    <div class='col-lg-8 content-cell'>{{ speciality.title }}</div>
    <div class='col-lg-1 content-cell actions'>
      <span ng-click='destroyFunction(speciality)' class='glyphicon glyphicon-remove'></span>
    </div>
  </div>
  </div>

</div>
