<div class="row">
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-6">
    <label>
      {{ l('speciality.code')}}
    </label>
    <input type="text"
           ng-model='speciality.code'
           placeholder="{{ l('speciality.code_placeholder') }}"
           name='code'
           required
           class='form-control form-control-small'
           >
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-6">
    <label>
      {{ l('speciality.title')}}
    </label>
    <input type="text"
           ng-model='speciality.title'
           placeholder="{{ l('speciality.title_placeholder') }}"
           name='title'
           required
           class='form-control form-control-small'
           >
  </div>
</div>
<div class="row">
  <div class="col-xs-6 col-sm-8 col-md-8 col-lg-6">
    <label> {{ l('speciality.science_title') }} </label>
    <select ng-options='type.localized for type in science.avalaibleScienceTypes'
            ng-model='speciality_science_type'
            ng-change='cloneScienceType(speciality_science_type)'
            class='form-control'
    ></select>
  </div>
</div>
