<div ng-form='specialityForm' class='material-design-form'>
  <div class="row" ng-hide='speciality.id || showCreateSpecialityForm' ng-if='showSearch || isSingle'>
    <div class="col-xs-9 col-sm-10 col-md-10 col-lg-8">
      <angucomplete-alt  class="speciality-angucomplete"
                         placeholder="{{ l('speciality.speciality_search') }}"
                         minlength="1"
                         clear-selected='true'
                         remote-url='manage/council_specialities/search'
                         remote-url-request-formatter='requestFormatter'
                         remote-url-response-formatter='searchResponseFormatter'
                         selected-object="addSpeciality"
                         title-field="code"
                         description-field="title"
                         search-fields="code,title"
                         match-class="highlight"
                         input-class="form-control form-control-small angucomplete-input"
                         text-searching="Идет поиск..."
                       ></angucomplete-alt>
       <br>
    </div>
    <div class='col-xs-3 col-sm-2 col-md-2 col-lg-4'>
      <button ng-click='hideSpecialityForm()' class='btn btn-cancel'>
        {{ l('app.buttons.cancel') }}
      </button>
    </div>
  </div>
  <div ng-if='showCreateSpecialityForm' class='speciality-form'>
    <speciality-form  speciality='new_speciality'>
    </speciality-form>
    <div class="row">
      <div class="col-xs-12 actions">
        <button ng-click='createNewSpeciality()' class='btn btn-save'>
          {{ l('app.buttons.create_speciality_and_add_to_council') }}
        </button>
        <button ng-click='hideSpecialityForm()' class='btn btn-cancel'>
          {{ l('app.buttons.cancel') }}
        </button>
      </div>
    </div>
  </div>
</div>
