<table class='specialities-items'>
  <tbody ui-sortable='sortableOptions' ng-model='specialities'>
    <tr ng-repeat='speciality in specialities' ng-if='specialities.length'>
      <td class='info'>
        <strong>
          {{ speciality.code }}
        </strong>
        <br />
        <small>
          {{ speciality.title }}
        </small>
      </td>
      <td class='actions'>
        <span class='handle glyphicon glyphicon-sort' ng-show='specialities.length > 1'></span>
        <button ng-click='destroyFunction(speciality)' class='btn btn-danger'>Удалить</button>
      </td>
    </tr>
    <tr ng-if='speciality.id'>
      <td class='info'>
        <strong>
          {{ speciality.code }}
        </strong>
        <br />
        <small>
          {{ speciality.title }}
        </small>
      </td>
      <td class='actions'>
        <button ng-click='destroyFunction(speciality)' class='btn btn-danger'>Удалить</button>
      </td>
    </tr>
  </tbody>
</table>
